<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
    </head>
    <body ng-app="app" ng-controller="controller as vm">
        <div class="container">      
            <div class="row">            
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="jumbotron" style="margin-top:5px;text-align:center;">
                        <h1>Testing cache</h1>    
                        <br>
                        <h4>Select cache method:</h4><br>             
                        <button class="btn btn-default" ng-click="vm.select(1)" ng-class="{'btn-danger': vm.cacheMethod === 'Once'}">Once</button>&nbsp;                                                
                        <button class="btn btn-default" ng-click="vm.select(2)" ng-class="{'btn-danger': vm.cacheMethod === 'Memoize'}">Memoize</button>&nbsp;                              
                        <button class="btn btn-default" ng-click="vm.select(3)" ng-class="{'btn-danger': vm.cacheMethod === 'Angular cache'}">Angular cache</button>
                        <br><br>
                        <div ng-if="vm.cacheMethod" ng-cloak>
                            <h4>{{vm.cacheMethod}}</h4><br>
                            <button class="btn btn-primary" ng-click="vm.click(1)">Load data 1</button>&nbsp;                              
                            <button class="btn btn-primary" ng-click="vm.click(2)">Load data 2</button>
                        </div>
                    </div>
                    <div ng-if="vm.response.length" ng-cloak>Results:
                        <pre>{{vm.response | json}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.11.1/lodash.min.js"></script>
    <script src="angular.js"></script>
</html>
