<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
            <style>
                [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                    display: none !important;
                }   
            </style>
    </head>
    <body ng-app="app" ng-controller="controller as vm">
        <div class="container">      
            <div class="row">            
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="jumbotron" style="margin-top:5px;text-align:center;">
                        <h1>Caching with Lodash</h1>    
                        <br>
                        <p style="font-size:16px">Testing simple ways of caching ajax calls using Lodash with Angular.<br> Ajax calls has a 3 second delay. Cached response is instant.</p>
                        <h3>Select cache method:</h3><br>             
                        <button class="btn btn-default" ng-click="vm.select('Once')" ng-class="{'btn-danger': vm.cacheMethod === 'Once'}">Once</button>&nbsp;                                                
                        <button class="btn btn-default" ng-click="vm.select('Memoize')" ng-class="{'btn-danger': vm.cacheMethod === 'Memoize'}">Memoize</button>&nbsp;                              
                        <button class="btn btn-default" ng-click="vm.select('AngularCache')" ng-class="{'btn-danger': vm.cacheMethod === 'AngularCache'}">Angular cache</button>
                        <br><br>
                        <div ng-if="vm.cacheMethod" ng-cloak>
                            <h3>{{vm.cacheMethod}}</h3>
                            <p ng-if="vm.cacheMethod === 'Once'" style="font-size:16px">Only one ajax call performed. Does not consider parameters.</p>
                            <p ng-if="vm.cacheMethod === 'Memoize'" style="font-size:16px">Two ajax calls performed, one per input parameter.</p>
                            <p ng-if="vm.cacheMethod === 'AngularCache'" style="font-size:16px">The actual HTTP call is cached. Code inside dataservice method will be executed.</p>                            
                            <button class="btn btn-primary" ng-click="vm.click(1)">Get 1</button>&nbsp;                              
                            <button class="btn btn-primary" ng-click="vm.click(2)">Get 2</button>
                        </div>
                    </div>
                    <div ng-if="vm.response.length" ng-cloak>Results:
                        <pre>{{vm.response | json}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.11.1/lodash.min.js"></script>
    <script src="angular.js"></script>
</html>
